.txt-faq-accordion {
	.accordion-item,
	.accordion-button:not(.collapsed),
	.accordion-button {
		background-color: transparent;
	}
	.accordion-item {
		padding: 20px 25px;
		border-radius: 10px;
		background: #F2F3F3;
		margin-bottom: 15px;
		border: 1px dashed rgba(21, 32, 40, 0.20);
		&:hover {
			.accordion-button {
				color: rgba(0, 0, 0, 0);
				&:after {
					color: rgba(0, 0, 0, 0);
				}
			}
		}
		&.faq_active {
			background: linear-gradient(90deg, rgba(90, 86, 240, 0.10) -1.33%, rgba(253, 80, 185, 0.10) 100%);
		}
	}
	.accordion-button {
		padding: 0;
		border: none;
		font-size: 20px;
		font-weight: 700;
		position: relative;
		color: var(--ptx-title-color);
		font-family: var(--txt-heading-1);
		background: var(--txt-gradient-1);
		background-size: 100% 100%;
		background-clip: text;
		-webkit-background-clip: text;
		transition: all 500ms ease;
		span {
			max-width: 85%;
			display: inline-block;
		}
	}
	.accordion-button:focus {
		border: none;
		box-shadow: none;
	}
	.accordion-body {
		font-size: 18px;
		line-height: 30px;
		line-height: 1.667;
		padding: 14px 0px 0px;
	}
	.accordion-button::after {
		top: 5px;
		right: 0;
		content: '\f067';
		font-weight: 900;
		position: absolute;
		border-radius: 100%;
		background-image: none;
		color: var(--txt-title-color-1);
		font-family: 'Font Awesome 5 Pro';
		background: var(--txt-gradient-1);
		background-size: 100% 100%;
		background-clip: text;
		-webkit-background-clip: text;
		transition: all 500ms ease;
	}
	.accordion-button:not(.collapsed) { 
		box-shadow: none;
		color: rgba(0, 0, 0, 0);
		&:after {
			content: '\f068';
			color: rgba(0, 0, 0, 0);
		}
	}
	&.ver_2 {
		margin-top: 25px;
		.accordion-item {
			padding: 0;
			background-color: transparent;
			&.faq_active {
				overflow: hidden;
				border: 1px dashed transparent;
				background: rgba(89, 57, 198, 0.08);
				.accordion-button {
					color: #fff;
					background: #5939C6;
				}
			}
		}
		.accordion-button {
			color: #030617;
			padding: 20px;
			font-weight: 500;
			background-color: transparent;
			font-family: var(--txt-heading-3);
			&:after {
				top: 20px;
				right: 15px;
				width: 24px;
				height: 24px;
				font-size: 14px;
				line-height: 24px;
				text-align: center;
				border-radius: 5px;
				color: var(--txt-title-color-1);
				background: rgba(50, 22, 146, 0.15);
			}
			&:hover {
				color: var(--txt-title-color-1);
			}
		}
		.accordion-button:not(.collapsed) {
			&:after {
				color: #fff;
				background-color: #321692;
			}
		}
		.accordion-body {
			padding: 15px 20px 20px;
			p {
				font-size: 16px;
				padding-bottom: 10px;
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}
}
.txt-faq-section-3 {
	z-index: 1;
	overflow: hidden;
	.txt-faq-img-3 {
		top: 0;
		left: 0;
		width: 50%;
		z-index: -1;
	}
	.faq-bg-3 {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 330px;
	}
}
.txt-faq-content-3 {
	z-index: 2;
	max-width: 650px;
	padding-top: 50px;
	position: relative;
}
@media (max-width: 1320px) {
	.txt-faq-section-3 .txt-faq-img-3 {
		display: none;
	}
	.txt-faq-content-3 {
		max-width: 100%;
	}
}