.txt-testimonial-section-3 {
	.side-text1 {
		font-size: 80px;
	}
}
.txt-testimonial-slider-1 {
	padding-bottom: 100px;
}
.txt-testimonial-slider-nav-1 {
	.testimonial_nav {
		width: 200px;
		z-index: 1;
		height: 200px;
		margin: 0 auto;
		overflow: hidden;
		border-radius: 100%;
		transform: scale(.5);
		transition: all 500ms ease;
		img {
			width: 180px;
			height: 180px;
			margin: 0 auto;
			border-radius: 100%;
		}
		&:before {
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			border-radius: 100%;
			transform: scale(0);
			transition: all 500ms ease;
			background: var(--txt-gradient-1)
		}
		&.ver_2 {
			&:before {
				background: #5939C6;
			}
		}
	}
	.swiper-slide-prev,
	.swiper-slide-next {
		.testimonial_nav {
			transform: scale(.7);
		}
	}
	.swiper-slide-active {
		.testimonial_nav {
			transform: scale(1);
			&:before {
				transform: scale(1.0);
			}
		}
	}
}
.txt-testimonial-slider-nav-1 {
	.txt-testimonial-prev-1,
	.txt-testimonial-next-1 {
		left: 0;
		top: 50%;
		z-index: 2;
		font-size: 30px;
		transform: translateY(-50%);
		color: rgba(255, 255, 255, 0.5);
		&:hover {
			@extend%txt-gradient-text-one;
		}
		&.ver_2 {
			position: relative;
			color: rgba(3, 6, 23, 0.5);
			&:before {
				top: 0;
				width: 42px;
				height: 42px;
				content: '';
				border-radius: 100%;
				position: absolute;
				transition: all 500ms ease;
				background-color: rgba(3, 6, 23, 0.10);
			}
			&:hover {
				background: #5939C6;
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				&:before {
					background-color: rgba(89, 57, 198, 0.15);
				}
			}

		}
	}
	.txt-testimonial-prev-1.ver_2 {
		&:before {
			top: -4px;
			left: 15px;
		}
	}
	.txt-testimonial-next-1.ver_2 {
		&:before {
			top: -4px;
			right: 15px;
		}
	}
	.txt-testimonial-next-1 {
		right: 0;
		left: auto;
	}
}
.txt-testimonial-slider-for-1 {
	margin-top: 60px;
}
.txt-testimonial-item-1 {
	margin: 0 auto;
	max-width: 845px;
	.testimonial-author {
		opacity: 0;
		visibility: hidden;
		margin-bottom: 25px;
		transform: translateY(40px);
		h3 {
			color: #fff;
			font-size: 30px;
			font-weight: 600;
			padding-bottom: 5px;
		}
		span {
			display: inline-block;
			@extend%txt-gradient-text-one;
			font-family: var(--txt-heading-1);
		}
	}
	.testimonial-desc-rate {
		opacity: 0;
		visibility: hidden;
		transform: translateY(40px);
		p {
			z-index: 1;
			color: #fff;
			font-size: 20px;
			font-weight: 500;
			font-style: italic;
			line-height: 1.8;
			position: relative;
			padding-bottom: 16px;
			&:before,
			&:after {
				top: -80px;
				left: -40px;
				width: 210px;
				content: '';
				opacity: 0.1;
				height: 210px;
				position: absolute;
				background-repeat: no-repeat;
				background-image: url(../img/testimonial/qt1.png);
			}
			&:after {
				top: auto;
				left: auto;
				right: -40px;
				z-index: -1;
				bottom: -20px;
				background-image: url(../img/testimonial/qt2.png);
			}
		}
		.testimonial-rate {
			li {
				font-size: 24px;
				background: linear-gradient(180deg, #FDAE3E -0.53%, #FF0749 98.83%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	&.ver_2 {
		.testimonial-author {
			h3 {
				font-size: 28px;
				color: #030617;
			}
			span {
				background: #5939C6;
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-family: var(--txt-heading-3);
			}
		}
		.testimonial-desc-rate {
			p {
				color: #030617;
				padding-bottom: 0;
				font-family: var(--txt-heading-3);
				&:before {
					opacity: 1;
					background-image: url(../img/testimonial/qt3.png);
				}
				&:after {
					opacity: 1;
					background-image: url(../img/testimonial/qt4.png);
				}
			}
		}
	}
}
.txt-testimonial-slider-for-1 {
	.swiper-slide-active {
		.txt-testimonial-item-1 {
			.testimonial-author {
				opacity: 1;
				visibility: visible;
				transition-delay: .1s;
				transform: translateY(0px);
				transition: all 800ms ease;
			}
			.testimonial-desc-rate {
				opacity: 1;
				visibility: visible;
				transition-delay: .2s;
				transform: translateY(0px);
				transition: all 800ms ease;
				p {
					&:before {
						left: 0px;
						transition-delay: .6s;
						transition: all 800ms ease;
					}
					&:after {
						right: 0px;
						transition-delay: .7s;
						transition: all 800ms ease;
					}
				}
			}
		}
	}
}
@media (max-width: 991px) { 
	.txt-testimonial-section-1 .txt-testimonial-shape1,
	.txt-testimonial-section-1 .txt-testimonial-shape2 {
		display: none;
	}
}
@media (max-width: 680px) { 
	.txt-testimonial-item-1 .testimonial-author h3 {
		font-size: 24px;
	}
	.txt-testimonial-slider-for-1 {
		margin-top: 30px;
	}
	.txt-testimonial-item-1 .testimonial-desc-rate p {
		font-size: 16px;
	}
	.txt-testimonial-slider-1  {
		padding-bottom: 50px;
	}
}