@font-face {
    font-family: "flaticon_all_buscon";
    src: url("../fonts/flaticon_all_buscon.ttf?ae5e639c26ebf6f633410fbfa6d8134d") format("truetype"),
url("../fonts/flaticon_all_buscon.woff?ae5e639c26ebf6f633410fbfa6d8134d") format("woff"),
url("../fonts/flaticon_all_buscon.woff2?ae5e639c26ebf6f633410fbfa6d8134d") format("woff2"),
url("../fonts/flaticon_all_buscon.eot?ae5e639c26ebf6f633410fbfa6d8134d#iefix") format("embedded-opentype"),
url("../fonts/flaticon_all_buscon.svg?ae5e639c26ebf6f633410fbfa6d8134d#flaticon_all_buscon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_all_buscon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-like:before {
    content: "\f101";
}
.flaticon-discussion:before {
    content: "\f102";
}
.flaticon-balance:before {
    content: "\f103";
}
.flaticon-down-arrow:before {
    content: "\f104";
}
.flaticon-graduated:before {
    content: "\f105";
}
.flaticon-avatar:before {
    content: "\f106";
}
.flaticon-handcuffs:before {
    content: "\f107";
}
.flaticon-life-insurance:before {
    content: "\f108";
}
.flaticon-skyline:before {
    content: "\f109";
}
.flaticon-family:before {
    content: "\f10a";
}
.flaticon-laws:before {
    content: "\f10b";
}
.flaticon-auction:before {
    content: "\f10c";
}
.flaticon-right-down:before {
    content: "\f10d";
}
.flaticon-check-list:before {
    content: "\f10e";
}
.flaticon-check:before {
    content: "\f10f";
}
.flaticon-rating:before {
    content: "\f110";
}
.flaticon-lawyer:before {
    content: "\f111";
}
.flaticon-checkmark:before {
    content: "\f112";
}
.flaticon-project:before {
    content: "\f113";
}
.flaticon-analysis:before {
    content: "\f114";
}
.flaticon-idea:before {
    content: "\f115";
}
.flaticon-play:before {
    content: "\f116";
}
.flaticon-hairstyle:before {
    content: "\f117";
}
.flaticon-insurance:before {
    content: "\f118";
}
.flaticon-care:before {
    content: "\f119";
}
.flaticon-auction-1:before {
    content: "\f11a";
}
.flaticon-arrow:before {
    content: "\f11b";
}
.flaticon-abstract-shape:before {
    content: "\f11c";
}
.flaticon-abstract-shape-1:before {
    content: "\f11d";
}
.flaticon-email:before {
    content: "\f11e";
}
.flaticon-linkedin:before {
    content: "\f11f";
}
.flaticon-twitter:before {
    content: "\f120";
}
.flaticon-facebook:before {
    content: "\f121";
}
.flaticon-instagram:before {
    content: "\f122";
}
.flaticon-financial-advisor:before {
    content: "\f123";
}
.flaticon-advice:before {
    content: "\f124";
}
.flaticon-strategy:before {
    content: "\f125";
}
.flaticon-asset-allocation:before {
    content: "\f126";
}
.flaticon-taxes:before {
    content: "\f127";
}
.flaticon-diagram:before {
    content: "\f128";
}
.flaticon-team:before {
    content: "\f129";
}
.flaticon-arrow-left:before {
    content: "\f12a";
}
.flaticon-play-button-arrowhead:before {
    content: "\f12b";
}
.flaticon-design-process:before {
    content: "\f12c";
}
.flaticon-data:before {
    content: "\f12d";
}
.flaticon-down-right:before {
    content: "\f12e";
}
.flaticon-diagonal-arrow:before {
    content: "\f12f";
}
.flaticon-left:before {
    content: "\f130";
}
.flaticon-menu:before {
    content: "\f131";
}
.flaticon-team-1:before {
    content: "\f132";
}
.flaticon-settings:before {
    content: "\f133";
}
.flaticon-24-hours:before {
    content: "\f134";
}
.flaticon-medal:before {
    content: "\f135";
}
.flaticon-phone-call-1:before {
    content: "\f136";
}
.flaticon-shuttle:before {
    content: "\f137";
}
.flaticon-like-1:before {
    content: "\f138";
}
.flaticon-award:before {
    content: "\f139";
}
.flaticon-time-passing:before {
    content: "\f13a";
}
.flaticon-finger-of-a-hand-pointing-to-right-direction:before {
    content: "\f13b";
}
.flaticon-quote-1:before {
    content: "\f13c";
}
.flaticon-arrow-1:before {
    content: "\f13d";
}
.flaticon-right-arrow:before {
    content: "\f13e";
}
.flaticon-mail:before {
    content: "\f13f";
}
.flaticon-viber:before {
    content: "\f140";
}
.flaticon-location:before {
    content: "\f141";
}
.flaticon-share:before {
    content: "\f142";
}
.flaticon-turn-left:before {
    content: "\f143";
}
.flaticon-social-engagement:before {
    content: "\f144";
}
.flaticon-experience:before {
    content: "\f145";
}
.flaticon-transaction-history:before {
    content: "\f146";
}
.flaticon-user:before {
    content: "\f147";
}
.flaticon-telephone-call:before {
    content: "\f148";
}
.flaticon-email-1:before {
    content: "\f149";
}
.flaticon-chat:before {
    content: "\f14a";
}
.flaticon-highlight:before {
    content: "\f14b";
}
.flaticon-right-1:before {
    content: "\f14c";
}
.flaticon-response:before {
    content: "\f14d";
}
.flaticon-money:before {
    content: "\f14e";
}
.flaticon-arrow-down:before {
    content: "\f14f";
}
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before {
    content: "\f150";
}
.flaticon-arrow-2:before {
    content: "\f151";
}
.flaticon-promotion:before {
    content: "\f152";
}
.flaticon-right-arrows:before {
    content: "\f153";
}
.flaticon-investing:before {
    content: "\f154";
}
.flaticon-consulting:before {
    content: "\f155";
}
.flaticon-badge:before {
    content: "\f156";
}
.flaticon-turn-right:before {
    content: "\f157";
}
.flaticon-down-arrow-2:before {
    content: "\f158";
}
.flaticon-sparkle:before {
    content: "\f159";
}
.flaticon-give-money:before {
    content: "\f15a";
}
.flaticon-24-hours-support:before {
    content: "\f15b";
}
.flaticon-right-arrow-1:before {
    content: "\f15c";
}
.flaticon-megaphone:before {
    content: "\f15d";
}
.flaticon-bag:before {
    content: "\f15e";
}
.flaticon-management:before {
    content: "\f15f";
}
.flaticon-speech-bubble:before {
    content: "\f160";
}
.flaticon-strategy-1:before {
    content: "\f161";
}
.flaticon-calendar:before {
    content: "\f162";
}
.flaticon-paper-plane:before {
    content: "\f163";
}
.flaticon-call:before {
    content: "\f164";
}
.flaticon-maps-and-flags:before {
    content: "\f165";
}
.flaticon-check-1:before {
    content: "\f166";
}
.flaticon-presentation:before {
    content: "\f167";
}
.flaticon-target-audience:before {
    content: "\f168";
}
.flaticon-darts:before {
    content: "\f169";
}
.flaticon-design-thinking:before {
    content: "\f16a";
}
.flaticon-downward-arrow:before {
    content: "\f16b";
}
.flaticon-phone-contact:before {
    content: "\f16c";
}
.flaticon-telephone:before {
    content: "\f16d";
}
.flaticon-customer-service:before {
    content: "\f16e";
}
.flaticon-live-chat:before {
    content: "\f16f";
}
.flaticon-management-1:before {
    content: "\f170";
}
.flaticon-guarantee:before {
    content: "\f171";
}
.flaticon-customer-service-1:before {
    content: "\f172";
}
.flaticon-customer-care:before {
    content: "\f173";
}
.flaticon-trophy:before {
    content: "\f174";
}
.flaticon-up-right-arrow:before {
    content: "\f175";
}
.flaticon-checklist:before {
    content: "\f176";
}