.txt-faq-section-4 {
	z-index: 1;
	margin: 0px 100px;
	.faq-bg {
		bottom: 0 ;
		right: 0;
		z-index: -1;
		width: 90%;
		height: 100%;
		margin: 0 auto;
	} 
	.txt-faq-img-4 {
		left: 0;
		top: -100px;
		overflow: hidden;
	}
}
.txt-faq-content-4 {
	max-width: 710px;
}
.txt-faq-accordion.ver_4 {
	margin-top: 25px;
	.accordion-item {
		border: none;
		border-radius: 0;
		margin-bottom: 0;
		padding: 20px 15px 20px;
		background-color: transparent;
		border-bottom: 1px solid #545661;
		.accordion-button { 
			font-size: 22px;
			font-weight: 400;
			color: rgba(0, 7, 26, 1);
			transition: all 500ms ease;
			font-family: var(--txt-alt-font-1);
			span {
				max-width: 90%;
			}
		}
	}
	.accordion-item .faq_active {
		background:  linear-gradient(90deg, rgba(143, 115, 255, 0.2) 0%, rgba(83, 71, 255, 0.2) 45.27%, rgba(83, 71, 255, 0.2) 57.66%, rgba(33, 211, 253, 0.2) 100%);
	}
	.accordion-button:not(.collapsed) {
		color: #5347FF;
		font-weight: 500;
	}
}
@media (max-width: 1600px) {
	.txt-faq-section-4 {
		margin: 0;
	}
	.txt-faq-content-4 {
		max-width: 660px;
	}
}
@media (max-width: 1460px) {
	.txt-faq-content-4 {
		max-width: 590px;
	}
}
@media (max-width: 1365px) {
	.txt-faq-section-4 .txt-faq-img-4 {
		display: none;
	}
	.txt-faq-content-4 {
		max-width: 100%;
	}
}