.txt-project-section-4 {
	z-index: 1;
	margin: 0 auto;
	overflow: hidden;
	max-width: 1920px;
	.txt-project-testimonial-bg {
		bottom: 0;
		width: 100%;
		z-index: -1;
		height: 1100px;
	}
}
.txt-project-item-4 {
	z-index: 1;
	overflow: hidden;
	max-width: 1016px;
	border-radius: 500px;
	&:before {
		left: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		width: 100%;
		height: 0%;
		position: absolute;
		transition: all 500ms ease;
		background: linear-gradient(180deg, rgba(3, 6, 23, 0) 53.08%, rgba(3, 6, 23, 0.64) 100%);
	}
	.project-img {
		img {
			transform: scale(1.03);
			transition: all 600ms ease;
		}
	}
	.project-text {
		left: 0;
		right: 0;
		z-index: 2;
		bottom: 75px;
		.pro-cate {
			opacity: 0;
			color: #fff;
			padding: 5px 20px;
			border-radius: 50px;
			display: inline-block;
			margin-bottom: 10px;
			visibility: hidden;
			font-family: var(--txt-alt-font-1);
			background: var(--txt-gradient-3);
			transform: translateY(30px);
		}
		.projec_title {
			opacity: 0;
			visibility: hidden;
			transform: translateY(30px);
			a {
				color: #fff;
				font-size: 48px;
				font-weight: 600;
				display: inline !important;
				background-position-y: 0px;
				background-repeat: no-repeat;
				background-size: 0 100%;
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				background-image: linear-gradient(transparent calc(100% - 2px), currentColor 2px);
				-webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
				transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
				&:hover {
					color: #fff;
					background-size: 100% 100%;
				}
			}
		}
	}
}
.txt-project-sldier-4 {
	margin-top: 45px;
	.swiper-slide-active {
		.txt-project-item-4 {
			&:before {
				height: 100%;
				transition-delay: 300ms;
			}
			.project-img {
				img {
					transform: scale(1);
					transition-delay: 500ms;
				}
			}
			.project-text {
				.pro-cate {
					opacity: 1;
					visibility: visible;
					transform: translateY(0px);
					transition: all 600ms ease;
					transition-delay: 500ms;
				}
				.projec_title {
					opacity: 1;
					visibility: visible;
					transform: translateY(0px);
					transition: all 500ms ease;
					transition-delay: 700ms;
				}
			}
		}
	}
	.txt-arrow-next-prev-4 {
		z-index: 2;
		margin-top: -31px;
		position: relative;
		.txt-slider-arrow {
			width: 62px;
			height: 62px;
			z-index: 1;
			cursor: pointer;
			overflow: hidden;
			margin: 0px 6px;
			position: relative;
			background: #030617;
			border-radius: 22px;
			border: 1px solid #4471FE;
			&:before {
				bottom: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 0%;
				content: '';
				position: absolute;
				border-radius: 22px;
				background: #4471FE;
				transition: all 500ms ease;
			}
			i {
				color: #4471FE;
			}
			&:hover {
				&:before {
					height: 100%;
				}
				i {
					color: #fff;
				}
			}
		}
	}
}
@media (max-width: 1366px) {
	.txt-project-item-4 .project-text {
		bottom: 40px;
		max-width: 80%;
		margin: 0 auto;
	}
	.txt-project-item-4 .project-text .projec_title a {
		font-size: 40px;
	}
	.txt-project-section-4 .txt-project-testimonial-bg {
		height: 1000px;
	}
}
@media (max-width: 1200px) {
	.txt-project-item-4 {
		margin: 0 auto;
	}
	.txt-project-section-4 .txt-project-testimonial-bg {
		height: 100%;
	}
	.txt-project-section-4 .txt-section-title-4 .section_title {
		color: #fff;
	}
}
@media (max-width: 680px) {
	.txt-project-sldier-4 .txt-arrow-next-prev-4 {
		margin-top: 30px;
	}
	.txt-project-item-4 .project-text {
		bottom: 20px;
	}
	.txt-project-item-4 .project-text .projec_title a {
		font-size: 30px;
	}
	.txt-project-item-4 .project-text .pro-cate {
		font-size: 12px;
	}
	.txt-project-sldier-4 .txt-arrow-next-prev-4 .txt-slider-arrow {
		width: 45px;
		height: 45px;
	}
}