.txt-service-section-4 {
	z-index: 1;
	overflow: hidden;
	.txt-section-title-4 {
		max-width: 670px;
	}
	.txt-service-shape {
		top: 0;
		right: 0;
		z-index: -1;
	}
}
.txt-service-content-area-4 {
	.txt-service-img-4 {
		right: 0;
		top: -140px;
		overflow: hidden;
		border-radius: 189px;
	}
}
.txt-service-content-4 {
	gap: 40px;
	margin-top: 40px;
}
.txt-service-item-4 {
	max-width: 460px;
	position: relative;
	padding: 50px 40px 150px;
	border-radius: 15px 15px 200px 15px;
	background: linear-gradient(90deg, rgba(143, 115, 255, .1) 0%, rgba(83, 71, 255, .1) 45.27%, rgba(68, 113, 254, .1) 57.66%, rgba(33, 211, 253, .1) 100%);
	.service-icon {
		width: 120px;
		height: 120px;
		margin-bottom: 30px;
	}
	.service-text {
		.service_title {
			a {
				color: #030617;
				font-size: 30px;
				font-weight: 600;
				display: inline-block;
				padding-bottom: 15px;
			}
		}
	}
	.txt-btn-4 {
		right: 0;
		bottom: 45px;
		position: absolute;
	}
}
.txt-service-tab-btn {
	li {
		font-weight: 600;
		border-bottom: 1px solid rgba(3, 6, 23, 0.1);
		.nav-link {
			padding: 0;
			&.active {
				h3 {
					&:before {
						width: 100%;
					}
				}
			}
		}
		h3 {
			font-size: 35px;
			display: block;
			color: #545661;
			font-weight: 600;
			white-space: nowrap;
			-webkit-text-fill-color: white; 
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #545661;
			position: relative;
			margin: 20px 0px 18px;
			&:before {
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				font-size: 35px;
				white-space: nowrap;
				color: var(--txt-title-color-1);
				overflow: hidden;
				content: attr(data-text);
				position: absolute;
				text-transform: uppercase;
				transition: all 1000ms ease;
				-webkit-text-fill-color: var(--txt-title-color-1); 
			}
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}
.txt-service-top-content-4 {
	margin-bottom: 15px;
	padding-bottom: 45px;
	border-bottom: 1.5px solid rgba(3, 6, 23, 0.1);
	.txt-section-title-4 {
		max-width: 550px;
	}
	.txt-service-top-text {
		max-width: 450px;
	}
	.txt-btn-4:before {
		border: none;
		height: 167px;
		width: 167px;
	}
	.txt-btn-4:after {
		top: -67px;
		right: -6.5px;
		z-index: -1;
		content: '';
		width: 160px;
		height: 160px;
		position: absolute;
		border-radius: 100%;
		background-color: #fff;
	}
}
.txt-service-item-content-4_2 {
	padding: 25px;
	margin-top: 20px;
	background: linear-gradient(90deg, rgba(143, 115, 255, 0.04) 0%, rgba(83, 71, 255, 0.04) 45.27%, rgba(68, 113, 254, 0.04) 57.66%, rgba(33, 211, 253, 0.04) 100%);
}
.txt-service-item-4_2 {
	z-index: 1;
	padding: 25px 20px;
	background: rgba(143, 115, 255, 0.08);
	.service-icon {
		width: 60px;
		height: 60px;
		margin-bottom: 15px;
		border-radius: 100%;
		background: linear-gradient(90deg, #8F73FF 0%, #5347FF 45.27%, #4471FE 57.66%, #21D3FD 100%);
		i {
			color: #fff;
			font-size: 32px;
			line-height: .75;
		}
	}
	.service-text {
		.service_title {
			a {
				color: #030617;
				font-size: 22px;
				font-weight: 500;
				display: inline !important;
				background-position-y: 0px;
				background-repeat: no-repeat;
				background-size: 0 100%;
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				background-image: linear-gradient(transparent calc(100% - 2px), currentColor 2px);
				-webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
				transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
				&:hover {
					background-size: 100% 100%;
				}
			}
		}
		p {
			font-size: 14px;
			padding-top: 15px;
		}
	}
	&:hover {
		.service-icon {
			-webkit-animation-name: icon_move;
			animation-name: icon_move;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
			-webkit-animation-iteration-count: 1;
			animation-iteration-count: 1;
		}
	}
}
@media (max-width: 1280px) {
	.txt-service-content-area-4 .txt-service-img-4 {
		display: none;
	}
	.txt-service-content-4 {
		justify-content: center;
	}
	.txt-service-section-4 .txt-section-title-4 {
		margin: 0 auto;
		text-align: center;
	}
}
@media (max-width: 1200px) {
	.txt-service-top-content-4 {
		flex-wrap: wrap;
		gap: 20px;
	}
	.txt-service-top-content-4 .txt-btn-4:before,
	.txt-service-top-content-4 .txt-btn-4:after {
		display: none;
	}
}
@media (max-width: 991px) {
	.txt-service-content-4 {
		flex-wrap: wrap;
	}
	.txt-service-img-4_2 {
		display: none;
	}
}
@media (max-width: 767px) {
	.txt-service-item-4_2 {
		margin-bottom: 30px;
	}
	.txt-service-tab-btn li h3,
	.txt-service-tab-btn li h3:before {
		font-size: 24px;
	}
	.txt-service-item-4 .service-text .service_title a {
		font-size: 28px;
	}
}