.txt-slider-item-4 {
	overflow: hidden;
	padding: 200px 0px 80px;
	&:before {
		top: 0;
		right: 0;
		content: '';
		width: 33%;
		height: 0%;
		max-height: 824px;
		position: absolute;
		background-color: #000;
	}
	.slider-side-img {
		right: 0;
		bottom: 100px;
		clip-path: polygon(100% 1%, 100% 0, 100% 100%, 100% 100%);
	}
	.txt-slider-text-img-4 {
		max-width: 917px;
		h1 {
			color: #030617;
			font-size: 86px;
			font-weight: 600;
			padding-bottom: 40px;
			.split-line {
				opacity: 0;
				visibility: hidden;
				transform: translateY(30px);
			}
		}
		.txt-slider-img-4_1 {
			position: relative;
			margin-bottom: 25px;
			&:before {
				top: 0;
				width: 0%;
				height: 100%;
				content: '';
				position: absolute;
				background-color: #000;
			}
			img {
				clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
			}
		}
		p {
			opacity: 0;
			max-width: 672px;
			visibility: hidden;
			transform: skewX(15deg);
		}
		.txt-btn-4 {
			right: -30px;
			bottom: -30px;
			position: absolute;
			transform: scale(0);
			transition: all 700ms ease;
		}
	}
}
.tx-main-arrow-next-prev {
	top: 50%;
	left: 50px;
	z-index: 2;
	border-radius: 80px;
	writing-mode: vertical-rl;
	transform: translateY(-50%);
	.tx-slider-arrow {
		z-index: 1;
		position: relative;
		i {
			color: #020626;
			font-size: 40px;
		}
		&:before {
			top: 15px;
			left: -6px;
			z-index: -1;
			content: '';
			width: 52px;
			height: 52px;
			position: absolute;
			border-radius: 100%;
			transition: all 500ms ease;
			background-color: rgba(2, 6, 38, .15);
		}
		&.tx-main-button-prev_3 {
			&:before {
				top: -25px;
			}
		}
		&:hover {
			&:before {
				background: var(--txt-gradient-3);
			}
		}
	}
	.swiper-main-paginations-2 {
		display: flex;
		margin: 20px 0px;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			opacity: 1;
			margin: 3px 0px;
			border-radius: 100%;
			border: 1px solid #020626;
			transition: all 500ms ease;
			background-color: transparent;
			&.swiper-pagination-bullet-active {
				background: var(--txt-gradient-3);
				border: 1px solid var(--base-color);
			}
		}
	}
}
.swiper-slide-active {
	.txt-slider-item-4 {
		&:before {
			height: 100%;
			transition: all 2000ms ease;
		}
		.slider-side-img {
			transition: all 1500ms ease;
			clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
			transition-delay: 2500ms;
		}
		h1 {
			.split-line {
				opacity: 1;
				visibility: visible;
				transition: 700ms ease;
				transform: translateY(0px);
				&:nth-child(1) {
					transition-delay: 500ms;
				}
				&:nth-child(2) {
					transition-delay: 700ms;
				}
				&:nth-child(3) {
					transition-delay: 900ms;
				}
				&:nth-child(4) {
					transition-delay: 900ms;
				}
			}
		}
		.txt-slider-img-4_1  {
			&:before {
				width: 100%;
				transition: all 1500ms ease;
				transition-delay: 950ms;
			}
			img {
				transition: all 1500ms ease;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
				transition-delay: 1800ms;

			}
		}
		.txt-btn-4 {
			transform: scale(1.0);
			transition: all 1500ms ease;
			transition-delay: 1400ms;
		}
		p {
			opacity: 1;
			visibility: visible;
			transform: skewX(0);
			transition: all 700ms ease;
			transition-delay: 1500ms;
		}
	}
}